* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    vertical-align: bottom;
}
/* ==================================== */
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgb(228, 228, 228);
}
.header {
    margin: 10px auto;
    width: 1200px;
    display: flex;
    padding: 15px 10px;
    
}
.header .img {
    width: 300px;
}
.header .list {
    width: 750px;
    padding-left: 300px;
    align-self: center;
}
.header .list a{
    color: #5d6678;
    transition: .5s;
}
.header .list a:hover {
    text-decoration-color: #bdbec0;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}
.header .list a + a {
    margin-left: 20px;
}
.header .icon-area {
    width: 150px;
    align-self: center;
}
.header .icon {
    padding: 10px 18px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5%;
    transition: .5s;
}
.header .icon a {
    color: #555555;
    font-size: 14px;
    font-weight: 500;
}
.header .icon:hover {
    background-color: #1FDE82;
    border: 1px solid rgb(255, 255, 255);
}
.header .icon:hover a{
    color: white;
}
/* ====================================== */
.introduce {
    position: relative;
}
.introduce-area {
    margin: auto;
    margin-top: 30px;
    width: 1200px;
    position: relative;
    z-index: 1;
}
.introduce-part {
    margin-bottom: 60px;
    display: flex;
    padding: 20px;
}
.introduce-part:nth-of-type(even) {
    flex-direction: row-reverse;
}
.introduce-content {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    gap: 20px;
    padding: 10px;
}
.introduce-content h2 {
    display: block;
    width: 500px;
    font-size: 58px;
    font-weight: 300;
    line-height: 1.315em;
}
.introduce-part:nth-of-type(even) .introduce-content h2{
    font-size: 50px;
}

.introduce-content p {
    display: block;
    width: 450px;
    font-size: 14px;
    font-weight: 200;
}
.introduce-content .button {
    display: flex;
    
}
.introduce-content .button .button1,
.introduce-content .button .button2 {
    width: 125px;
    text-align: center;
    padding: 10px 15px;
    background-color: #1FDE82;
    transition: .5s;
    margin-right: 20px;
    font-size: 14px;
    color: white;
    box-shadow: 0px 8px 32px 0px rgba(31,222,130,0.46);
}
.introduce-content .button .button1:hover,
.introduce-content .button .button2:hover {
    background-color: #6d7076;
}
.introduce-content .button .video {
    width: 156px;
}
.introduce-content .button .video img {
    height: 40px;
}
.introduce .cloud1 {
    position: absolute;
    top: 40%;
}
.introduce .cloud2 {
    position: absolute;
    left: 48%;
    bottom:90%;
}
.introduce .cloud3 {
    position: absolute;
    right: 10%;
    top: 30%;
}
.introduce .cloud4 {
    position: absolute;
    left: 42%;
    top: 70%;
}
/* ====================================== */
.services {
    position: relative;
}
.services-part {
    width: 1200px;
    margin: auto;
    padding: 5px;
    position: relative;
    z-index: 1;
}
.services-part .services-title {
    margin-bottom: 40px;
}
.services-part .services-title h2{
    width: 475px;
    font-weight: 300;
    font-size: 42px;
}
.services-part .services-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 15px;
    gap: 30px;
}
.services-part .services-content .services-list {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 44px 0px rgb(17, 29, 48,0.06);
}

.services-part .services-content .services-list .img {
    margin-bottom: 40px;
}
.services-part .services-content .services-list .img img {
    box-shadow: 0px 8px 32px 0px rgba(31,222,130,0.46);
    border-radius: 50%;
}
.services-part .services-content .services-list h3 {
    margin-bottom: 20px;
    font-weight: 450;
    font-size: 20px;
}
.services-part .services-content .services-list p {
    margin-bottom: 40px;
    font-weight: 200;
    font-size: 14px;
    line-height: 2em;
}
.services-part .services-content .services-list a {
    color: #555555;
    width: fit-content;
    font-weight: 500;
}
.services .cloud1 {
    position: absolute;
    left: 0%;
    bottom: 15%;
}
.services .cloud2 {
    position: absolute;
    right: 0%;
    top: -5%;
    transform: scale(1.0);
}
/* ====================================== */
.advantage {
    background-color: #2570FF;
    padding: 50px 0;
    color: white;
    position: relative;
}
.advantage .advantage-part {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    position: relative;
    z-index: 1;
}
.advantage .advantage-part .advantage-listpart {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.advantage .advantage-part .advantage-listpart .advantage-list {
    margin: 10px;
    background-color: #3f81ff;
    padding: 40px 30px;
    border-radius: 10px;
}
.advantage .advantage-part .advantage-listpart .advantage-list p {
    font-size: 56px;
}
.advantage .advantage-part .advantage-listpart .advantage-list span {
    display: block;
    margin: 20px 0;
    font-size: 14px;
    line-height: 2em;
}
.advantage .advantage-part .advantage-content {
    padding-top: 80px;
}
.advantage .advantage-part .advantage-content h2 {
    width: 70%;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
}
.advantage .advantage-part .advantage-content p {
    width: 60%;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 40px;
    line-height: 1.8em;
}
.advantage .advantage-part .advantage-content .orderservice {
    width: 145px;
    text-align: center;
    padding: 10px 10px;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 5px;
    transition: .5s;
}
.advantage .advantage-part .advantage-content .orderservice:hover {
    background-color: #1FDE82;
}
.advantage .cloud1 {
    position: absolute;
    right: 2%;
    bottom: 10%;
}
.advantage .cloud2 {
    position: absolute;
    right: 7%;
    top: 25%;
}
.advantage .cloud3 {
    position: absolute;
    right: 0%;
    top: 15%;
}
/* ====================================== */
.worksteps {
    position: relative;
}
.worksteps-part {
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    z-index: 1;
    padding-bottom: 80px;
}
.worksteps-part .worksteps-title {
    width: 100%;
    padding-bottom: 50px;
}
.worksteps-part .worksteps-title h2 {
    width: 40%;
    font-size: 42px;
    font-weight: 300;
}
.worksteps-part .worksteps-content .worksteps-list{
    display: flex;
    justify-content: center;
}
.worksteps-part .worksteps-content .worksteps-list:nth-of-type(4n+3){
    flex-direction: row-reverse;
}
.worksteps-part .worksteps-content .worksteps-list:nth-child(7) {
    padding-top: 60px;
}
.worksteps-part .worksteps-content .worksteps-list .img{
    /* margin: 20px; */
    padding: 10px;
}
.worksteps-part .worksteps-content .worksteps-list .worksteps-number-content {
    display: flex;
}
.worksteps-part .worksteps-content .worksteps-list:nth-child(9) .worksteps-number-content{
    padding-bottom: 100px;
}
.worksteps-part .worksteps-content .worksteps-list:nth-child(9) .worksteps-number-content .step-number {
    padding-left: 60px;
}
.worksteps-part .worksteps-content .worksteps-list .step-number {
    display: flex;
    justify-content: end;
    width: 180px;
    align-self: center;
    margin-right: 20px;
}

.worksteps-part .worksteps-content .worksteps-list .step-number img {
    box-shadow: 0px 8px 32px 0px rgba(31,222,130,0.46);
    border-radius: 50%;
}
.worksteps-part .worksteps-content .worksteps-list:nth-of-type(4n+3) .step-number{
    padding-left: 100px;
    padding-bottom: 80px;
}
.worksteps-part .worksteps-content .worksteps-list .list-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.worksteps-part .worksteps-content .worksteps-list:nth-of-type(4n+3) .list-content {
    padding-bottom: 40px;
}

.worksteps-part .worksteps-content .worksteps-list .list-content h3 {
    width: 80%;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.worksteps-part .worksteps-content .worksteps-list .list-content p {
    font-size: 14px;
    font-weight: 200;
    line-height: 2em;
}
.worksteps-part .worksteps-content .onetotwo {
    position: absolute;
    left: 380px;
    top: 300px;
}
.worksteps-part .worksteps-content .twotothree {
    position: absolute;
    left: 340px;
    top: 580px;
}
.worksteps-part .worksteps-content .threetofour {
    position: absolute;
    left: 340px;
    top: 860px;
}
.worksteps-part .worksteps-content .fourtofive {
    position: absolute;
    left: 300px;
    top: 1150px;
}
.worksteps .cloud1 {
    position: absolute;
    right: 0%;
    bottom: 15%;
}
.worksteps .cloud2 {
    position: absolute;
    left: 0%;
    top: 30%;
}
.worksteps .cloud3 {
    position: absolute;
    right: 0%;
    top: 10%;
}
/* ====================================== */
.projects {
    position: relative;
    background-color: #F9FBFF;
    padding: 50px 0 80px;
}
.projects-part {
    width: 1200px;
    margin: auto;
    padding: 10px;
    position: relative;
    z-index: 1;
}
.projects-part .projects-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.projects-part .projects-title h2{
    width: 40%;
    font-size: 42px;
    font-weight: 300;
}
.projects-part .projects-title a {
    align-self:flex-end;
    color: white;
    background-color:  #1FDE82;
    padding: 10px 20px;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0px 8px 32px 0px rgba(31,222,130,0.46);
}
.projects-part .projects-title a:hover {
    background-color: #5d6678;
}
.projects-part .projects-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.projects-part .projects-content .projects-list {
    position: relative;
}
.projects-part .projects-content .projects-img img{
    width: 100%;
    border-radius: 5px;
}
.projects-part .projects-content .projects-list-content {
    width: 380px;
    height: 415px;
    background-color: #1FDE82;
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: .5s;
    border-radius: 5px;
}
.projects-part .projects-content .projects-list-content:hover {
    opacity: 97%;
}
.projects-part .projects-content .projects-list-content .title {
    margin: 60px 20px 160px;
}
.projects-part .projects-content .projects-list-content .title h3 {
    font-size: 34px;
    font-weight: 400;
    color: white;
}
.projects-part .projects-content .projects-list-content .viewsite {
    width: fit-content;
    margin: 0 20px;
    color: white;
    transition: .5s;
}
.projects-part .projects-content .projects-list-content .viewsite:hover {
    color: #5d6678;
}
.projects .cloud1 {
    position: absolute;
    left: 0%;
    top: 20%;
}
/* ====================================== */
.signup {
    position: relative;
}
.signup .signup-part {
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.signup .signup-part .signup-content {
    display: flex;
    padding: 80px 0;
}
.signup .signup-part .signup-content .signup-img {
    width: 50%;
    margin: 10px;
    padding-left: 40px;
    padding-right: 90px;
}
.signup .signup-part .signup-content .signup-area {
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 30px 70px 40px 0;
}
.signup .signup-part .signup-content .signup-area .signup-title {
    margin-bottom: 30px;
}
.signup .signup-part .signup-content .signup-area .signup-title h2 {
    font-size: 42px;
    font-weight: 300;
}
.signup .signup-part .signup-content .signup-area input {
    width: 99%;
    height: 30px;
    text-indent: 15px;
    margin-bottom: 20px;
    border: 0.5px solid #dcdcdc;
    border-radius: 10px;
}
.signup .signup-part .signup-content .signup-area textarea {
    width: 99.5%;
    height: 100px;
    padding: 10px 15px;
    box-sizing: border-box;
    resize: none;
    border: 0.5px solid #dcdcdc;
    border-radius: 10px;
}
.signup .signup-part .signup-content .signup-area .sendbutton {
    width: fit-content;
    padding: 10px 20px;
    background-color: #1FDE82;
    border-radius: 5px;
    color: white;
    transition: .5s;
    box-shadow: 0px 8px 32px 0px rgba(31,222,130,0.46);
}
.signup .signup-part .signup-content .signup-area .sendbutton:hover {
    background-color: #5d6678;
}
.signup .cloud1 {
    position: absolute;
    right: 0%;
    top: 10%;
}
/* ====================================== */
.getnews {
    padding: 66px 0 ;
    background-color: #F7FAFF52;
    position: relative;
}
.getnews .getnews-part {
    width: 600px;
    margin: auto;
    padding: 10px;
    position: relative;
    z-index: 1;
}
.getnews .getnews-part .getnews-title {
    margin: 0 40px 30px 40px;
}
.getnews .getnews-part .getnews-title h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
}
.getnews .getnews-part .getnews-input {
    display: flex;
}
.getnews .getnews-part .getnews-input input {
    width: 80%;
    height: 40px;
    text-indent: 15px;
    border: 1px solid #ffffff;;
    border-radius: 5px;
    box-shadow: 0px 8px 50px 0px rgba(211, 211, 211, 0.46);
}
.getnews .getnews-part .getnews-input .subscribebutton {
    display: flex;
    align-items: center;
    padding: 11px 15px;
    background-color: #1FDE82;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    transition: .5s;
    box-shadow: 0px 8px 32px 0px rgba(31,222,130,0.46);
}
.getnews .getnews-part .getnews-input .subscribebutton:hover {
    background-color: #5d6678;
}
.getnews .cloud1 {
    position: absolute;
    left: 0%;
    top: 20%;
}
.getnews .cloud2 {
    position: absolute;
    right: 5%;
    bottom: 25%;
}
/* ====================================== */
.information .information-part {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 15px;
}
.information .information-part .information-list:first-child .information-title {
    margin-top: 20px;
}
.information .information-part .information-list:first-child .information-content {
    margin-top: 20px;
}
.information .information-part .information-list:first-child .information-content span {
    color:  rgb(106, 231, 106);
}
.information .information-part .information-list .information-title {
    margin-top: 30px;
}
.information .information-part .information-list .information-content {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
    line-height: 2em;
}
.information .information-part .information-list .information-content a{
    color: #5d6678;
    transition: .5s;
}
.information .information-part .information-list:nth-of-type(n+2) .information-content a:hover {
    color: rgb(106, 231, 106);
}
.information .information-part .information-list .information-link svg {
    width: 20px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    transition: .5s;
}
.information .information-part .information-list .information-link svg:hover {
    background-color: rgb(106, 231, 106);
    
}
.information .information-part .information-list .information-link svg:hover>path {
    fill: white;
}
/* ====================================== */
.footer {
    width: 1200px;
    margin: auto;
    display: flex;
}
.footer .wordpress {
    width: 50%;
    font-size: 12px;
    font-weight: 200;
    padding: 20px;
    display: flex;
    align-items: center;
}
.footer .wordpress a {
    color: rgb(106, 231, 106);
    transition: .5s;
}
.footer .wordpress a:hover {
    color: #551a8b;
}
.footer .privacy-policy-faq {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.footer .privacy-policy-faq .privacy-policy a{
    margin-right: 50px;
    color: #5d6678;
    font-size: 12px;
    font-weight: 200;
    transition: .5s;
}
.footer .privacy-policy-faq .privacy-policy a:hover {
    color: rgb(106, 231, 106);
}
.footer .privacy-policy-faq .faq a {
    color: #5d6678;
    font-size: 12px;
    font-weight: 200;
    transition: .5s;
}
.footer .privacy-policy-faq .faq a:hover {
    color: rgb(106, 231, 106);
}